@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Arimo", sans-serif;
    --light-bg: linear-gradient(135deg,#EEEEEE 0%,#F0F0F0 45%,#EFEFEF 100%);
    --dark-bg: linear-gradient(135deg,#1A1A1A 0%,#0F0F0F 45%,#1A1A1A 100%);
}